StudentSoapClient/xml-resources/web-service-references/StudentWebService/wsdl/localhost_8080/StudentSoap/StudentWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="StudentWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/StudentSoap/StudentWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="insertStudent">
<part name="parameters" element="tns:insertStudent"/>
</message>
<message name="insertStudentResponse">
<part name="parameters" element="tns:insertStudentResponse"/>
</message>
<message name="findStudentById">
<part name="parameters" element="tns:findStudentById"/>
</message>
<message name="findStudentByIdResponse">
<part name="parameters" element="tns:findStudentByIdResponse"/>
</message>
<message name="updateStudentByid">
<part name="parameters" element="tns:updateStudentByid"/>
</message>
<message name="updateStudentByidResponse">
<part name="parameters" element="tns:updateStudentByidResponse"/>
</message>
<message name="removeStudentById">
<part name="parameters" element="tns:removeStudentById"/>
</message>
<message name="removeStudentByIdResponse">
<part name="parameters" element="tns:removeStudentByIdResponse"/>
</message>
<portType name="StudentWebService">
<operation name="insertStudent">
<input wsam:Action="http://services/StudentWebService/insertStudentRequest" message="tns:insertStudent"/>
<output wsam:Action="http://services/StudentWebService/insertStudentResponse" message="tns:insertStudentResponse"/>
</operation>
<operation name="findStudentById">
<input wsam:Action="http://services/StudentWebService/findStudentByIdRequest" message="tns:findStudentById"/>
<output wsam:Action="http://services/StudentWebService/findStudentByIdResponse" message="tns:findStudentByIdResponse"/>
</operation>
<operation name="updateStudentByid">
<input wsam:Action="http://services/StudentWebService/updateStudentByidRequest" message="tns:updateStudentByid"/>
<output wsam:Action="http://services/StudentWebService/updateStudentByidResponse" message="tns:updateStudentByidResponse"/>
</operation>
<operation name="removeStudentById">
<input wsam:Action="http://services/StudentWebService/removeStudentByIdRequest" message="tns:removeStudentById"/>
<output wsam:Action="http://services/StudentWebService/removeStudentByIdResponse" message="tns:removeStudentByIdResponse"/>
</operation>
</portType>
<binding name="StudentWebServicePortBinding" type="tns:StudentWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="insertStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findStudentById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateStudentByid">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeStudentById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="StudentWebService">
<port name="StudentWebServicePort" binding="tns:StudentWebServicePortBinding">
<soap:address location="http://localhost:8080/StudentSoap/StudentWebService"/>
</port>
</service>
</definitions>