StudentSoapClient/xml-resources/web-service-references/StudentWebService/wsdl/localhost_8080/StudentSoap/StudentWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:element name="findStudentById" type="tns:findStudentById"/>

<xs:element name="findStudentByIdResponse" type="tns:findStudentByIdResponse"/>

<xs:element name="insertStudent" type="tns:insertStudent"/>

<xs:element name="insertStudentResponse" type="tns:insertStudentResponse"/>

<xs:element name="removeStudentById" type="tns:removeStudentById"/>

<xs:element name="removeStudentByIdResponse" type="tns:removeStudentByIdResponse"/>

<xs:element name="student" type="tns:student"/>

<xs:element name="updateStudentByid" type="tns:updateStudentByid"/>

<xs:element name="updateStudentByidResponse" type="tns:updateStudentByidResponse"/>

<xs:complexType name="removeStudentById">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeStudentByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:student" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="student">
<xs:sequence>
<xs:element name="gpa" type="xs:double" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertStudent">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="gpa" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertStudentResponse">
<xs:sequence>
<xs:element name="return" type="tns:student" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findStudentById">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findStudentByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:student" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateStudentByid">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="gpa" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateStudentByidResponse">
<xs:sequence>
<xs:element name="return" type="tns:student" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>